<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chlamy.css') }}">
</head>
<body>
   <div class="background"></div>
   <div class="title-bar">
        <p>CHLAMYDOMONAS</p>
    </div>
    <div class="content-container">

        <div class="text-area expandable" id="bottom-left-text">
            <h2> LE GENRE CHLAMYDOMONAS</h2>
            <p><i>Chlamydomonas</i> is a single celled green alga, belonging to
                the chlorophytes, a group of highly adaptable species that live in
                many different environments throughout the world. The most studied
                species of <i>Chlamydomonas</i> is <i>C. reinhardtii</i>.
            </p>
            <p>
                Normally <i>C. reinhardtii</i> derives energy from photosynthesis,
                but thrives in total darkness when provided with an alternative
                carbon source.
            </p>
            <p>
                Its impressive adaptability and quick generation time has made
                <i>Chlamydomonas</i> an important model for biological research.
                Over the years, studies of <i>Chlamydomonas</i> have provided
                major research contributions in the areas of photosynthesis,
                ciliary diseases and molecular biology.
            </p>
            <p>
                An important aspect of <i>C. reinhardtii</i>'s metabolism is its
                ability to produce molecular hydrogen (H<sub>2</sub>) from protons
                and electrons.
            </p>
            <p>
                Hydrogen production is catalysed by two [FeFe]-hydrogenases, HYDA1
                and HYDA2, although HYDA1 is the main isoform, accounting for ~75%
                of the H<sub>2</sub> produced.
            </p>
            <p>
                Hydrogen production can be light dependent, with the hydrogenase
                receiving electrons from the photosynthetic electron transport
                chain via the ferredoxin PETF, or light independent, where H<sub>2</sub>
                is produced via fermentation in the dark.
            </p>
            <p>
                In the early 2000s, a method temporally separating oxygenic
                photosynthesis and H<sub>2</sub> production was developed, which
                allowed sustained H<sub>2</sub> production in the light over the
                course of a few days.
            </p>
            <p>
                This method to produce H<sub>2</sub> is seriously explored in
                order to use it for the mass production of biocarburant.
            </p>
            <p>
                <i>C. reinhardtii</i> is the ideal organism in which to study
                H<sub>2</sub> production, due to the many molecular tools
                available and the simplicity and long history of study of its
                hydrogenase.</p>
            <img src="/static/chlamy3.jpg" alt="Chlamydomonas Image">
        </div>
    </div>
</body>
</html>



