<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links page</title>

    <style>
        body {
            
            background-image: url('/static/chla1.jpeg');
            background-size: cover;
            
        }
    </style>
</head>
<body>

    <h1>USEFUL LINKS</h1>

    <ul>
        <li><a href="https://mycocosm.jgi.doe.gov/Chlre4/Chlre4.home.html" target="_blank">PhycoCosm: the algal genomics resource</a></li>
        <li><a href="https://phytozome-next.jgi.doe.gov/" target="_blank">Phytozome: the plant genomics resource</a></li>
        <li><a href="https://www.chlamycollection.org/" target="_blank">Chlamydomonas Resource Center</a></li>              
    </ul>

</body>
</html>
